.hero-section {
    background-color: var(--tertiary-100);
    height: 100vh;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    position: relative;
    overflow: hidden;
}

.logo-marquee-section {
    padding: 4em 0;
}

.service-section {
    background-color: var(--tertiary-100);
    padding-block: 2em;
}

.service-heading-a {
    color: var(--accent-violet);
    font-weight: 600;
    font-size: 1.125em;
    
}

.service-section-heading h1 {
    margin-top: .35em;
    margin-bottom: 1em;
}

.service-section-intro {
    padding-block: 1em;
}

.services {
    padding-block: 3em;
}
.services > * + * {
    margin-top: 5.5em;
}

.banner-section {
    border: 4px solid var(--accent-violet);
    padding-block: 2em;
    position: relative;
    overflow: hidden;

}

.banner-section_heading {
    color: var(--primary-dark);
    margin-bottom: .35em;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.3);
    padding: .1em;
    
}

.banner-section_txt {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 0.75em;
    background-color: rgba(255, 255, 255, 0.2);
    padding: .1em;
}

.banner-section_wrapper > :last-child {
    margin-top: 2em;
}

.banner-img {
    position: absolute;
    top: 0;
    right: -10%;
    z-index: -1;
}

.quote-price_img {
    display: none;
} 

.portfolio {
    background-color: var(--primary-dark);
    position: relative;
    overflow: hidden;
    padding-bottom: 5em;
    margin-top: 5em;
    
}



.portfolio-intro {
   
    padding-bottom: 3em;
}

.portfolio-intro h2{
    color: #FFF;
    margin-top: 1em;
    margin-bottom: .5em;
}
.text_portfolio-intro {
    color: #FFF;
}

.emoji {
    color: var(--secondary-200);
    font-size: 1.5em;
}
.portfolio-piece  {
    margin-bottom: 4em;
}

.portfolio-cta {
    display: grid;
    justify-content: center;
    padding-top: 2em;
}


.client-reviews {
    padding-block: 3.5em;
}

.faq {
    padding-top: 2em;
    background-color: var(--primary-dark);
    
}
.faq-header {
    position: relative;
}
.faq-intro {
    color: #FFF;
    display: grid;
}

.faq-intro h2 {
    text-align: center;
    position: relative;
    
}
.faq-intro-text {
    width: 68%;
    justify-self: end;
    margin-top: 1em;
}
.faq-mark {
    position: absolute;
    left: -5%;
    top: 28%;
}

.faqs-container {
    background-color: var(--secondary-200);
    padding-block: 2em;
}

.faq-container {
    margin-bottom: 3em;
}
.faq-container > p {
    margin-bottom: 1em;
    font-weight: 600;
    color: var(--primary-dark);
}

.faq-cta {
    background-color: var(--secondary-200);
    padding-block: 3em;
}
.faq-cta-wrapper {
    width: 96%;
    margin-inline: auto;
    background-color: #FFF;
    padding-inline: 1em;
    padding-block: 2em;
    border-radius: 24px;
}
.faq-cta-wrapper :first-child {
    font-weight: 600;
    
}
.faq-cta__cta {
    display: flex;
    column-gap: .75em;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--accent-navy-blue_light);
    color: #FFF;
    margin-bottom: 1.5em;
    padding: .75em 2.5em;
    border-radius: 24px;

}

.faq-cta__cta__wrapper {
    margin-top: 1.5em;
}
.footer {
    padding-block: 3em;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}


.copyright {
    width: 80%;
    margin-inline: auto;
    margin-top: 2em;
}

.copyright > p > span {
    color: var(--secondary-200);
}
.footer-title {
    font-weight: 600 !important;
    margin-bottom: .5em;
}


@media only screen and (min-width: 61.25em) {
    .hero-section {
        height: fit-content;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-bottom: 3em;
        position: relative;
        overflow: hidden;
    }

    .logo-marquee-section {
        padding: 2em 0;
        
    }

    .services {
        /* display: flex; */
        
    }
    .services > * + * {
        margin-top: 7em;
    }

    .service-section-intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4em;
    }
    .service-section-heading > :last-child {
        max-width: 400px;
    }

    .banner-img {
    
        width: calc(50%);
        height: calc(100%);
    }
    .banner-img img {
        width: 100%;
        object-fit:cover;
    }

    .quote-price_img {
        display: block;
        position: absolute;
        right: 10%;
        top: 10%;
    }
    .quote-price_img img {
        width: calc(90%);
    }

    .banner-section_heading, .banner-section_txt {
        background-color: transparent;
    }
    .portfolio-intro {
        padding-top: 3em;
        margin-bottom: 4em;
    }
    .portfolio-intro h2 {
        text-align: center;
    }
    .portfolio-intro p {
        width: 70%;
        margin-inline: auto;
        
    }
    .portfolio-pieces {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5em 6em;
        padding-bottom: 3em;
    }
    .portfolio-piece {
        margin-bottom: 0;
    }
    .portfolio-cta {
        padding-top: 5em;
    }

    .faq-header {
        overflow: hidden;
        position: relative;
    }

    .faq-mark {
        position: relative;
        left: 0;
    }
    .faq-mark::after {
        content: '';
        width: 100%;
        height: 2px;
        bottom: -1px;
        left: 20%;
        position: absolute;
        display: inline-block;
        background-color: var(--secondary-200);
    }
    .qmark-pic {
       max-width: 500px;
     }
     .faq-intro {
        position: absolute;
        top: 0;
     }

     .faqs-container {
        position: relative;
        top: 10px;
     }

     .faq-container {
        width: 80%;
        margin-inline: auto;
     }

     .faq-cta {
       
        padding-block: 3em;
    }
    .faq-cta-wrapper {
        width: 70%;
        padding-inline: 2em;
        padding-block: 3em;
       
    }

    .faq-cta-wrapper :first-child {
        text-align: center;
    }
    .faq-cta-wrapper >:nth-child(2) {
        width: 52%;
        margin-inline: auto
    }
    .faq-cta__cta {
        padding: .75em 2.5em;
        border-radius: 24px;
    
    }
    
    .faq-cta__cta__wrapper {
        margin-top: 2.5em;
        width: 40%;
        margin-inline: auto;
    }
    .explore p {
        cursor: pointer;
    }
    .contacts p {
        cursor: pointer;
    }

    .copyright {
        text-align: center;
    }
    
}