.hero-section {
    background-color: var(--tertiary-100);
    height: 80vh;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.logo-marquee-section {
    padding: 4em 0;
}


@media only screen and (min-width: 61.25em) {
    .hero-section {
        height: fit-content;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-bottom: 3em;
        position: relative;
        overflow: hidden;
    }

    .logo-marquee-section {
        padding: 2em 0;
        
    }
}