.btn {
    font-size: 1em;
    border-radius: 1.625em;
    padding: .75em 1em;
    font-family: var(--font-family);
    border-color: transparent;
    position: relative;
    outline: none;
    /* height: 52px; */
    display: flex; 
    width: fit-content;
    
}

.btn >:first-child {
    border: 2px solid salmon;
}

.btn-ic {
    display: grid;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: var(--accent-navy-blue_light-50);
}
.btn-primary-cta {

}

.btn-secondary-cta {

}

.btn-outline {

}