
.service_img {
    display: grid;
    justify-content: center;
}
.service_img_container {
    max-height: 300px;
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    display: grid;
    justify-self: center;

}

.img_wrapper {
    margin-bottom: 2em;
    height: 95%;
    width: 95%;
    position: relative;
    justify-self: center;
    
}

.img_wrapper svg{ 
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    
}

.img_wrapper img {
    height: 98%;
    width: 98%;
    position: absolute;
    opacity: 0;
}

/* .box {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;    
    
}

.inner-box {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
} */

@media only screen and (min-width: 61.25em){
    .service_img_container {
        max-height: 400px;
        min-height: 400px;
        min-width: 400px;
        max-width: 400px;
        display: grid;
        justify-self: center;
    }
}

