@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --primary-dark: #103C4C;
  --secondary-100: #DBAC2A;
  --secondary-200: #F7BB18;
  --accent-navy-blue_light: #6B69E5;
  --accent-navy-blue_light-50: #C9C8FF;
  --accent-pink: #E550A7;
  --accent-violet: #8F38C1;
  --tertiary-100: #EFFBFF;
  --tertiary-50: #F6FDFF;
  --font-family: 'Noto Sans', sans-serif;
  
}

.container {
  width: 94%;
  margin: 0 auto;
}

.heading {
  font-family: var(--font-family);
}

.heading-lg {
  font-size: 2.625em;
  font-weight: 500;
}
.heading-md {
  font-size: 2.125em;
  font-weight: 600;
}

.heading-sm {
  font-size: 1.75em;
  font-weight: 600;
}

.text {
  font-family: var(--font-family);
  line-height: 2;
}
.text-md {
 
  font-size: 1em;
  font-weight: 400;
}

.text-lg {
 
  font-size: 1.0625em;
  font-weight: 400;
}

.text-sm {
  font-size: 0.875em;
  font-weight: 500;
}

@media only screen and (min-width: 47.5em) {
  
}


@media only screen and (min-width: 61.25em) {
  .container {
    width: 80%;
  }

  .heading-lg {
    font-size: 4.25em;
    font-weight: 500;
  }
  .heading-md {
    font-size: 2.5em;
    font-weight: 600;
  }
  
  .heading-sm {
    font-size: 1.875em;
    font-weight: 600;
  }

  .text-md {
  
    font-size: 1.125em;
    font-weight: 400;
  }

  .text-lg {
  
    font-size: 1.25em;
    font-weight: 400;
  }

  .text-sm {
    font-size: 0.875em;
    font-weight: 500;
  }


}



