.client-review-slider {
    
    width: 100%;
    overflow-x: hidden;

}
.slider-wrapper {
    display: flex;
    width: 100%;
   
    transition: transform 1000ms linear;
}

.slider-wrapper > * {
    flex: 0 0 100%;
    width: 100%;      
}

.client-review-slider {
    padding-block: 3em;
}

@media only screen and (min-width: 61.25em) {
    .slider-wrapper {
        column-gap: 4em;
    }
    .slider-wrapper > * {
        flex: 1 1 100%;

    }

    .client-review-heading {
        text-align: center;
    }
}